src/main/mule/execute_power_on_calculate_finance_calculations .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="execute_power_on_calculate_finance_calculations_Flow" doc:id="6927171f-dd4c-46c7-8499-c765e8ddad41" >
		<ee:transform doc:name="Execute Power on Calculate Finance Calculations Request Transformer" doc:id="9ad72469-548d-418e-86f4-e521ef8d23c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns pow http://www.symxchange.generated.symitar.com/v1/poweron
ns com http://www.symxchange.generated.symitar.com/v1/common/dto/common
---
	pow#executePowerOn: {
		Request: {
			Credentials @(com#ProcessorUser: p('credentials.processorUser')): {
				CardCredentials: {
					CardNumber: p('credentials.cardCredentials.cardNumber') ++  vars.primaryAccountNumber
				}
			},
			DeviceInformation @(DeviceType: p('deviceType'), DeviceNumber: p('deviceNumber')): null,
			Header: {
				MessageID: "FINANCIAL CALCULATIONS",
				RGState: "1"
			},
			Body: {
				File: "PS.SYMAPP.FINCALC",
				RGSession: "1",
				UserDefinedParameters: {
					RGUserChr: {
						ID: 1,
						Value: vars.primaryAccountNumber
					},
					RGUserChr: {
						ID: 2,
						Value: vars.loanAppId
					},
					RGUserChr: {
						ID: 3,
						Value: vars.loanProcessorReq.primaryCustomer.primarySSN
					},
					RGUserNum: {
						ID: 1,
						Value: 2
					},
					RGUserNum: {
						ID: 2,
						Value: 60
					}
				}
			}
		}
	}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8612db88-8850-42b1-9dc2-bf6e5124325b" message=" External ID: #[vars.loanProcessorReq.externalId] ::  Financial Calculations Request :: #[payload]"/>
		<wsc:consume doc:name="Execute Power on Calculate Finance Calculations" doc:id="ee495d5f-5346-4249-a3ea-27c54823ef87" config-ref="power_on_service_config" operation="executePowerOn"/>
		<logger level="INFO" doc:name="Logger" doc:id="37d7e06d-2d77-40cc-8bf4-0c80ee48e55d" message=" External ID: #[vars.loanProcessorReq.externalId] ::  Financial Calculations Response :: #[payload]"/>
		<ee:transform doc:name="Execute Power on Calculate Finance Calculations ResponseTransformer" doc:id="ccdd465e-b4ee-4042-81be-56747ff60a60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.symxchange.generated.symitar.com/v1/poweron
---
{
	RGLines: read(payload.body.ns0#executePowerOnResponse.Response.Body.RGLines default "", "application/json")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
