src/main/mule/get_credit_report_locator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="get_credit_report_locatorFlow" doc:id="9eacd7a5-35b1-4023-8771-84ed935e9a2d" >
		<logger level="INFO" doc:name="Logger" doc:id="033a575c-868a-448f-b49e-952496528279" message="#[payload]"/>
		<ee:transform doc:name="Get Credit Report Locator Request Transformer" doc:id="f792761a-2815-479f-a614-ddd7c1d55285" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e3b5eadb-a36c-46ac-9fe7-31950d46a298" message="#[payload]"/>
		<wsc:consume doc:name="Get Credit Report Locator" doc:id="bdee9eb1-75c4-433f-918f-51f4658bd1a3" config-ref="Account_Service_Config" operation="getAccountSelectFieldsFilterChildren"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3044c0a-8e85-4f81-be23-6fada34a1631" message="#[payload]"/>
		<ee:transform doc:name="Get Credit Report Locator Response Transformer" doc:id="9e538e5c-3f97-4e7e-877d-f77d5fcb8584" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
